.idea/
.project
.classpath
.settings
target
bin
*.class
.idea
*.iml
.metadata
.recommenders
.DS_Store
*.log
target/
.disconf\
*.groovy
.gradle/
.idea/
classes/
build/
/backup/
.DS_Store
.classpath
.project
disconf/
transaction-logs/
